@media only screen and (max-width:991px) {
    .inner-wrapper {
        width: 100%;
        margin: 0px;
    }
    .navbar{
        display: none !important;
    }
    .inner-wrapper .main .left{
        display: none;
    }
    .inner-wrapper .main .right{
        width: 100%;
    }
    .img-box {
        width: 80% !important;
        margin: 0 auto !important;
        
    }
}

@media only screen and (min-width:991px) {
    .mb-nav{
        display: none;
    }
    .offcanvas{
        display: none !important;
    }
    .modal-backdrop.show {
        display: none;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px)  {




.inner-wrapper .main .left img {
    margin-top: -84px;
    width: 170px !important;
}
}